fastembed
flashrank
langchain-community
langchain-experimental
langchain
qdrant-client
streamlit
pypdfium2
langchain-core
langchain-text-splitters
uvicorn
email_validator
fastapi
boto3
python-docx
pandas
pycryptodome
pymongo
sentence-transformers
hpack
hyperframe
GitPython
gitdb
h11
cffi
numpy
pillow
pip
attrs
distro
protobuf
cryptography
docutils
filelock
typing_extensions
sniffio
anyio
pydantic
httpx
pydantic_core
grpcio
grpcio-tools
onnx
packaging
onnxruntime
pytz
rich
Pygments
markdown-it-py
toml
requests
colorama
PyYAML
idna
multidict
propcache
smmap
click
httpcore
pywin32
mdurl
setuptools
charset-normalizer
sympy
mpmath
altair
jsonschema
narwhals
pyarrow
Jinja2
referencing
fsspec
aiohttp
yarl
MarkupSafe
orjson
SQLAlchemy
lxml
matplotlib
scipy
python-dateutil
pydeck
gunicorn
aiosignal
frozenlist
python-multipart
aiohappyeyeballs
certifi
tzdata
tornado
h2
urllib3
httptools
websockets
wsproto
watchfiles
six
greenlet
duckdb
annotated-types
tenacity
watchdog
tokenizers
huggingface-hub
loguru
tqdm
mmh3
snowballstemmer
langsmith
openai
requests-toolbelt
regex
cachetools
blinker
plotly
jsonpointer
jsonschema-specifications
humanfriendly
coloredlogs
marshmallow
flatbuffers
torch
transformers
pyreadline3
portalocker
jsonpatch
safetensors
typing-inspect
dataclasses-json
mypy-extensions
azure-core
botocore
beautifulsoup4
faiss-cpu